# Created by .ignore support plugin (hsz.mobi)
.deprecated
.idea
*.iml

# Mod Build Options ans Dettings
build/
archive.zip
res/flash/MarksOnGunTechTree/obj/MarksOnGunTechTreeConfig.old
res/flash/MarksOnGunTechTree/obj/MarksOnGunTechTreeConfig.xml
res/flash/DispersionTimer/obj/DispersionTimerConfig.xml
res/flash/DispersionTimer/obj/DispersionTimerConfig.old
/res/flash/BattleClock/obj
