# Created by .ignore support plugin (hsz.mobi)
.deprecated
.idea
*.iml

# Mod Build Options ans Settings
build/
archive.zip
res/flash/MarksOnGunTechTree/obj/MarksOnGunTechTreeConfig.old
res/flash/MarksOnGunTechTree/obj/MarksOnGunTechTreeConfig.xml
res/flash/DispersionTimer/obj/DispersionTimerConfig.xml
res/flash/DispersionTimer/obj/DispersionTimerConfig.old
/res/flash/BattleClock/obj
res/flash/ArmorCalculator/obj/ArmorCalculatorConfig.old
res/flash/ArmorCalculator/obj/ArmorCalculatorConfig.xml
res/flash/ArmorCalculator/obj/ArmorCalculatorConfig.old
res/flash/ArmorCalculator/obj/ArmorCalculatorConfig.xml
res/flash/ArmorCalculator/obj/ArmorCalculatorConfig.old
res/flash/SixthSense/obj/SixthSenseConfig.xml
res/flash/SixthSense/obj/SixthSenseConfig.xml
source/scripts/client/gui/mods/Config_Generator/__init__.py
source/scripts/client/gui/mods/Config_Generator/__init__.py
source/scripts/client/gui/mods/Config_Generator/core.py
source/scripts/client/gui/mods/Config_Generator/creator.py
/source/scripts/client/gui/mods
/source/scripts/client/gui/mods
/source/scripts/client/gui/mods
source/scripts/client/gui/mods/Config_Generator/core.py
source/scripts/client/gui/mods/Config_Generator/creator.py
source/scripts/client/gui/mods/Config_Generator/creator.py
res/flash/BattleEffeciency/obj/BattleEffeciencyConfig.old
res/flash/BattleEffeciency/obj/BattleEffeciencyConfig.xml
res/flash/InfoPanel_V2/obj/InfoPanelConfig.xml
res/flash/InfoPanel_V2/obj/InfoPanelConfig.old
res/flash/CreditCalculator/obj/CreditCalculatorConfig.old
res/flash/CreditCalculator/obj/CreditCalculatorConfig.xml
res/flash/DateTimes/obj/DateTimesConfig.xml
res/flash/DateTimes/obj/DateTimesConfig.old
res/flash/AccountsManager/obj/AccountsManagerConfig.xml
res/flash/AccountsManager/obj/AccountsManagerLoginButtonConfig.xml
res/flash/AccountsManager/obj/AccountsManagerWindowConfig.xml
source/scripts/client/gui/mods/Config_Generator/__init__.py
res/flash/FlightTimer/FlightTimer.as3proj
res/flash/FlightTimer/obj/FlightTimerConfig.xml
debug_20243108_
res/sound_bank_wwise/SixthSense/Originals/SFX/SixthSense_XFiles.wav
res/sound_bank_wwise/SixthSense/Originals/SFX/SixthSense_SuperMario.wav
res/sound_bank_wwise/SixthSense/Originals/SFX/SixthSense_Sauron.wav
res/sound_bank_wwise/SixthSense/Originals/SFX/SixthSense__Electro.wav
res/sound_bank_wwise/SixthSense/Originals/SFX/SixthSense_Buzz.wav
res/sound_bank_wwise/SixthSense/Originals/SFX/SixthSense_BuzzTimer.wav
res/sound_bank_wwise/SixthSense/GeneratedSoundBanks/Windows/driftkings_sixthsense.bnk
res/sound_bank_wwise/SixthSense/GeneratedSoundBanks/Windows/Init.bnk
debug_20240609_184527.log
